<?xml version="1.0" ?>
<config>

    <modules>
        <TM_GaPluginScrolldepth>
            <version>0.9.0</version>
        </TM_GaPluginScrolldepth>
    </modules>

    <global>
        <blocks>
            <tm_gapluginscrolldepth>
                <class>TM_GaPluginScrolldepth_Block</class>
            </tm_gapluginscrolldepth>
        </blocks>
        <helpers>
            <tm_gapluginscrolldepth>
                <class>TM_GaPluginScrolldepth_Helper</class>
            </tm_gapluginscrolldepth>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <tm_gapluginscrolldepth module="TM_GaPluginScrolldepth">
                    <file>tm/gapluginscrolldepth.xml</file>
                </tm_gapluginscrolldepth>
            </updates>
        </layout>
    </frontend>

</config>
